<script setup >
import {
  TwForm,
  TwButton,
  TwFile,
  TwInput,
  TwMultiSelect,
  TwSelect,
  TwToggle,
  TwTextarea,
} from "vue3-tailwind";
import { useFormExample } from "@/store/formExample";
import {onMounted} from "vue";
const formExample = useFormExample();

const router = useRouter();
const id = ref('');

const data = ref(
  {
    title:'',
    text:''
  }
)

onMounted(async () => {
  id.value = router.currentRoute.value.params.id;
  try {
    const response = await fetch(`http://192.168.0.206:8080/v1/board/detail/${id.value}`);
    const json = await response.json();
    data.value = json.data;
  }catch (error) {
    console.error('',error)
  }
});


</script>

<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 수정</h2>
    </div>
    <hr class="mt-4">
    <div class="grid grid-flow-row auto-rows-max">
      <div class="w-full flex justify-center">
        <div class="w-full mx-9">
          <div class="flex justify-between mt-7 mb-2">
            <div class="font-bold text-[16px]">{{ data.title }}</div>
            <div class="text-[12px] mt-2 mr-5">2024/03/13 12:00</div>
          </div>
          <hr>
          <div class="text-[14px] mt-3 mb-2">
            <div class="flex mt-10 mb-7" >
              <img src="/images/logo/main_logo.png" alt="맛딱로고" class="object-cover w-[200px]" >
            </div>
            <div class="mb-12">
              <p class="font-bold text-[16px] mb-5">{{ data.text}}</p>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
              안녕하세요 맛딱입니다. 맛딱을 찾아주셔서 감사합니다.<br>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="flex justify-end mt-5 mr-12 gap-3">
        <TwButton variant="primary" :ripple="true" class="w-[100px] text-center font-bold text-[14px]">
          수정
        </TwButton>
        <TwButton variant="secondary" :ripple="true" class="w-[100px] text-center font-bold text-[14px]">
          확인
        </TwButton>
      </div>
    </div>

  </div>
</template>
