<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { onMounted, ref } from "vue";
import {Search} from "@element-plus/icons-vue";


const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "배달상태",
      field: "stateDelivery",
      width: "120px",
      sortable: true,
    },
    {
      label: "상태 변화 시간",
      field: "datePick",
      width: "180px",
      sortable: false,
    },
    {
      label: "라이더",
      field: "riderName",
      width: "100px",
      sortable: false,
    },
    {
      label: "주문업소",
      field: "storeName",
      width: "200px",
      sortable: false,
    },
    {
      label: "도착지",
      field: "addressClientDo",
      width: "250px",
      sortable: false,
    },
  ],
  data: [],
  limit: 10,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: false,
  },
});


const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("http://192.168.0.206:8080/v1/delivery/all/pick")
    .then((res) => res.json())
    .then((json) => {
      data.value.data = json.list;
    });
});




</script>

<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">배달 배차</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 배차 리스트</h2>
      </div>
      <div class="w-1/4"></div>
      <el-select v-model="value" placeholder="지역 선택" style="width: 100px" class="!h-[35px] w-1/4 mt-3 ml-32">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 가게를 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :data="data.data"
        :setting="data.setting"
        @datatable:column-hook="datatableHook"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'stateDelivery'">
            {{ data.stateDelivery }}
          </template>
          <template v-if="column.field === 'datePick'">
            {{ data.datePick }}
          </template>
          <template v-if="column.field === 'riderName'">
            {{ data.riderName }}
          </template>
          <template v-if="column.field === 'storeName'">
            {{ data.storeName }}
          </template>
          <template v-if="column.field === 'addressClientDo'">
            {{ data.addressClientDo }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white">
                수정
              </TwButton>
              <TwButton variant="danger" class="bg-[#1a1a1a] h-[30px] py-1">
                삭제
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
<!--    <div class="w-full flex justify-end">-->
<!--      <TwButton variant="primary" class="bg-[#1a1a1a] h-[30px] py-1 mr-5 relative -top-[32px] w-[100px] text-center ">-->
<!--        가게 등록-->
<!--      </TwButton>-->
<!--    </div>-->
  </div>
</template>
