@import url('../fonts/roboto.css');
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./tooltip.css');
@import url('./skeleton.css');
@import url('./scrollbar.css');
@import url('./package.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.table-temp > div > div:nth-child(1) {
  display: none
}

.table-temp > div > div:nth-child(2) table{
  border-radius: 0;
  border-bottom: #1a1a1a solid 2px;
  --tw-border-spacing-y: 0;
  margin-top: 15px;
}

.table-temp > div > div:nth-child(2) th{
  background-color: #1a1a1a;
  color: #ffffff;
  height: 37px;
  font-size: 16px;
}

.table-temp > div > div:nth-child(2) th::before{
  top: 0.7rem;
}
.table-temp > div > div:nth-child(2) th::after{
  top: 0.8rem;
}

.table-temp > div > div:nth-child(2) td {
  color: #5e5e5e;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  border-bottom: solid 1px rgb(221, 221, 221);
  border-radius: 0;
  padding: 0;
  height: 50px;
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
  .table-temp > div > div:nth-child(2) td {
    font-size: 13px;
  }
  .table-temp > div > div:nth-child(2) th {
    font-size: 14px;
  }
}

.table-temp > div > div:nth-child(2) tr:last-child td{
  border-bottom: none 0 ;
}

.table-temp > div > div:nth-child(3) > div > div:first-child{
  display: none;
}

.table-temp > div > div:nth-child(3) > div > div:last-child {
  margin: auto;
}

.button-temp button{
  color: #1a1a1a;
}



/*icon size*/
.mat-icon-wrap {
  height: 25px;
  display: flex;
  align-items: center;
}
.mat-icon-wrap svg {
  width: 18px;
  height: 18px;
}
